/* google font styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary {
  color: #4E47FF;
}

.text-secondary {
  color: rgba(37, 36, 50, 1);
}

.text-tertiary {
  color: rgba(37, 36, 50, 0.5);
}

.text-quaternary {
  color: rgba(0, 0, 0, 0.5);
  ;
}

.text-quinary {
  color: #757575;
}

.text-senary {
  color: #b3b3b3;
}

.text-septenary {
  color: #1e1e1e;
}

.btn-primary {
  background-color: #4E47FF;
  border-radius: 10px;
  padding: 12px 36px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(192, 192, 192);
  color: black;
}

/* body styles */
body {
  background-color: #f5f8ff;
}

/* header styles */
.header {
  background-image: url('../assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.brand-content {
  display: flex;
  align-items: center;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.brand-name {
  font-size: 34px;
  font-weight: 900;
}

/* banner styles */
.banner-content {
  text-align: center;
  max-width: 905px;
  margin: 154px 267.5px 0px;
  padding-bottom: 152px;
}

.banner-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* action section styles */
.action-container {
  display: flex;
  margin-top: 116px;
  margin-bottom: 116px;
  justify-content: space-around;
  align-items: center;
}

.action-content {
  width: 517px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}

.action-description {
  font-size: 24px;
  margin-bottom: 23px;
}

.action-container img {
  border-radius: 48px;
}

/* productive section styles */
.productive-section {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  max-width: 1140px;
  margin: 0 auto 137px;
}

.productive-section-content {
  text-align: center;
  padding: 50px 142px;

}

.productive-title {
  font-size: 38px;
  font-weight: bold;
}

.productive-container {
  display: flex;
  justify-content: space-between;
}

.productive-content {
  text-align: center;
}

.productive-description {
  font-size: 80px;
  font-weight: bold;
  margin: 0px;
}

.productive-sub-title {
  font-size: 20px;
}

/* feedback section styles */
.feedback-section {
  text-align: center;
  margin-bottom: 137px;
}

.feedback-section-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid rgba(242, 237, 237, 1);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 24px;
}

.card-img-container {
  margin-bottom: 4px;
}


.card-content-container {
  max-width: 318px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-description {
  margin-bottom: 0;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content-avatar {
  border-radius: 999px;
  margin-right: 12px;
}

.card-sub-content {
  margin: 0px;
}

.card-sub-title {
  font-weight: 600;
  margin-bottom: 2px;
}

.card-sub-description {
  margin-top: 0px;
}

.card-content-avatar-2 {
  width: 40px;
  border-radius: 999px;
  height: 40px;
  object-fit: cover;
  object-position: 50% 0%;
  margin-right: 12px;
}

.card-content-avatar-3 {
  width: 40px;
  border-radius: 999px;
  height: 40px;
  object-fit: cover;
  object-position: 50% 0%;
  margin-right: 12px;
}

/* focus section styles */
.focus-section {
  background-color: white;
  border-radius: 14px;
  max-width: 1140px;
  margin: 0 auto 92px;
}

.focus-section-container {
  padding: 71px 150px;
  text-align: center;
}

.focus-section-content {
  margin-bottom: 20px;
}

.focus-content-title {
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.focus-content-description {
  margin-bottom: 20px;
}

.focus-section img {
  border-radius: 48px;
}

/* form section styles */
.form-section-container {
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1140px;
  margin: 0 auto 85px;
}

.form-section-title {
  font-size: 97px;
  font-weight: bold;
  color: black;
}

.form-label-title {
  color: black;
  font-weight: 500;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

form input[type="email"],
input[type="text"],
form textarea {
  width: 497px;
  height: 70px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 19px;
  color: #1e1e1e;
  padding-left: 32px;
  border: none;
}

form textarea {
  padding-top: 20px;
  height: 135px;
}

.btn-submit {
  padding: 19px;
  width: 100%;
}

/* footer styles */
footer {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 103px;
}

.footer-brand-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-brand-logo {
  width: 120px;
  height: 120px;
}

.footer-brand-name {
  font-size: 100px;
  font-weight: 900;
  margin: 0;
}

.footer-container {
  max-width: 531px;
  margin: 0 auto;
  text-align: center;
}


.footer-description {
  color: #8987A1;
  margin-bottom: 20px;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 0;
}

footer li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: #8987A1;
}

footer li a:hover {
  color: blue;
}